* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    overflow: hidden;
}

:root {
    --spt-green: #A3F02E;
    --spt-sidebar: #000000;
    --spt-footer: #282828;
    --spt-main: #141922;
    --spt-upgrade: #080B12;
}

/* #region debug */

.debug .sidebar {
    height: 100vh;
    width: 225px;
    background-color: black;
    border: 1px solid red;
}

.debug main {
    background-color: gray;
    border: 1px solid yellow;  
}

.debug .main-header {
    height: 100px;
    background-color: lightgreen;
    border: 1px solid red;
}

.debug .main-nav {
    height: 80px;
    background-color: white;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.debug .main-nav a {
    height: 40px;
    width: 50px;
    background-color: black;
    border: 1px solid red;
    margin: 0 1rem;
}

.debug .container {
    background-color: black;
    border: 2px solid red;
    padding: 2rem;
}

.debug .row {
    background-color: white;
    height: 300px;
    border: 1px solid red;
    margin: 1rem 0;
    padding: 1rem;
}

.debug .col-2 {
    background-color: lightgreen;
    border: 1px solid red;
    height: 100%;
    padding: 1rem;
}

.debug .card {
    background-color: lightcoral;
    border: 1px solid red;
    height: 100%;
    padding: 1rem;
}

.debug .image {
    background-color: black;
    border: 1px solid red;
    height: 60%;
}

.debug h4,
.debug h6 {
    background-color: black;
    border: 1px solid red;
    height: 20%;
}

.debug h2 {
    height: 10px;
    width: 50px;
    background-color: white;
    border: 1px solid red;
}

.debug .container > h6 {
    height: 10px;
    width: 70px;
    background-color: white;
}

.debug .main-header a {
    background-color: black;
    border: 1px solid red;
    width: 100px;
    height: 60px;
}







/* #endregion debug */

/* #region utility */

.d-flex {
    display: flex;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.dir-col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
}

/* #endregion utility */

/* #region left/sidebar */

.sidebar .container {
    justify-content: space-between;
}

.sidebar {
    height: calc(100vh - 90px);
    width: 225px;
    background-color: var(--spt-sidebar);
}

.sidebar a:hover {
    color: white;
}

.logo-large {
    width: 150px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 0.6rem;
}

.home {
    border-left: 1px solid #A3F02E;
}

.home,
.search,
.library,
.install,
.user {
    padding: 0.6rem;
}

.sidebar a {
    color: gray;
    padding-left: 0.6rem;
    font-size: 0.9rem;
    text-decoration: none;
}

.home img,
.search img,
.library img,
.install img,
.user img {
    width: 10%;
}

.playlist h3 {
    color: white;
    padding: 0.6rem;
}

.create-playlist a {
    align-items: center;
    padding: 0.6rem;
}

.create-playlist i {
    padding-right: 0.5rem;
    color: gray;
}

.playlist a{
    padding-bottom: 0.5rem;
}

.sidebar hr {
    padding-left: 0.6rem;
    width: 90%;
    margin: 0.5rem 0.6rem;
}

.user img {
    background-color: grey;
    border-radius: 50%;
}

.user a {
    font-size: 1rem;
}

.user {
    margin-bottom: 0.5rem;
}

/* #endregion left/sidebar */

/* #region Right */

.main-body {
    height: calc(100vh - 190px);
    width: calc(100vw - 225px);
    overflow-y: auto;
    background-color: var(--spt-main);
}

/* #region main header */

.main-header {
    height: 100px;
    background-color: var(--spt-upgrade);
    position: sticky;
    top: 0;
    left: 0;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.main-header a {
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: white;
}

.main-header a:hover {
    transform: scale(1.1);
}

/* #endregion main header */

/* #region main nav */

.main-nav {
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.main-nav a {
    text-decoration: none;
    color: gray;
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: 800;
}

#spotlight::after {
    display: block;
    content: '';
    width: 50%;
    height: 1px;
    background: var(--spt-green);
    position: absolute;
    bottom: 0;
    left: 25%;
   }
   
#spotlight {
   position: relative;  
}

.main-nav a:hover {
    color: white;
}

/* #endregion main nav */

/* #region main rows */

main .row {
    margin: 2rem 0;
}

.main-body .container {
    padding: 2rem;
}

main .card {
    text-align: center;
    padding: 0.5rem;
}

.main-body img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
}

.main-body h6 {
    color: grey;
    padding: 0 0.6rem;
}

.main-body h4 {
    color: white;
    padding: 0.5rem 0;
}

.main-body h2 {
    color: white;
    padding: 0.5rem 0.6rem;
}

.popular-artists img {
    border-radius: 50%;
}

.image {
    position: relative;
}

.play {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.image:hover .play {
    display: block;
}

.image img:hover {
    opacity: 0.3;
}

/* #endregion main rows */

/* #endregion right */

/* #region footer */

footer {
    height: 90px;
    background-color: var(--spt-footer);
    position: sticky;
    bottom: 0;
    left: 0;
}

/* #endregion footer */

/* #region Media query */

/* #region 878 */

@media screen and (max-width: 878px) {

    /* Main right */
    
    .col-3-md {
        width: calc(100% / 12 * 3);
    }

    .main-nav a{
        margin-top: 2rem;
    }
}

/* #endregion 878 */

/* #region 639 */

@media  screen and (max-width: 639px) {

    /* Main right */

    .col-6-s {
        width: calc(50%);
    }   
}

/* #endregion 639 */

/* #region 552 */

@media screen and (max-width: 552px) {

    .sidebar {
        width: 200px;
    }

    .main-body {
        width: calc(100%);
    }
    
}

/* #region 552 */

/* #endregion Media query */
