* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* #region debug */

.debug .sidebar {
    height: 100vh;
    width: 225px;
    background-color: black;
    border: 1px solid red;
}

.debug main {
    background-color: gray;
    height: calc(100vh);
    width: calc(100vw - 225px);
    border: 1px solid yellow;
}

.debug .main-header {
    height: 100px;
    background-color: lightgreen;
    border: 1px solid red;
}

.debug .main-nav {
    height: 80px;
    background-color: white;
    border: 1px solid black;
    justify-content: center;
    align-items: center;

}

.debug .main-nav a {
    height: 40px;
    width: 50px;
    background-color: black;
    border: 1px solid red;
}
















/* #endregion debug */

/* #region utility */

.d-flex {
    display: flex;
}













/* #endregion utility */
