* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    overflow: hidden;
}

:root {
    --spt-green: #A3F02E;
    --spt-sidebar: #000000;
    --spt-footer: #282828;
    --spt-main: #141922;
    --spt-upgrade: #080B12;
}

/* #region debug */

.debug .sidebar {
    height: 100vh;
    width: 225px;
    background-color: black;
    border: 1px solid red;
}

.debug main {
    background-color: gray;
    border: 1px solid yellow;  
}

.debug .main-header {
    height: 100px;
    background-color: lightgreen;
    border: 1px solid red;
}

.debug .main-nav {
    height: 80px;
    background-color: white;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.debug .main-nav a {
    height: 40px;
    width: 50px;
    background-color: black;
    border: 1px solid red;
    margin: 0 1rem;
}

.debug .container {
    background-color: black;
    border: 2px solid red;
    padding: 2rem;
}

.debug .row {
    background-color: white;
    height: 300px;
    border: 1px solid red;
    margin: 1rem 0;
    padding: 1rem;
}

.debug .col-2 {
    background-color: lightgreen;
    border: 1px solid red;
    height: 100%;
    padding: 1rem;
}

.debug .card {
    background-color: lightcoral;
    border: 1px solid red;
    height: 100%;
    padding: 1rem;
}

.debug .image {
    background-color: black;
    border: 1px solid red;
    height: 60%;
}

.debug h4,
.debug h6 {
    background-color: black;
    border: 1px solid red;
    height: 20%;
}

.debug h2 {
    height: 10px;
    width: 50px;
    background-color: white;
    border: 1px solid red;
}

.debug .container > h6 {
    height: 10px;
    width: 70px;
    background-color: white;
}

.debug .main-header a {
    background-color: black;
    border: 1px solid red;
    width: 100px;
    height: 60px;
}







/* #endregion debug */

/* #region utility */

.d-flex {
    display: flex;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.dir-col {
    flex-direction: column;
}














/* #endregion utility */

/* #region left/sidebar */

.sidebar {
    height: 100vh;
    width: 225px;
    background-color: var(--spt-sidebar);
}
























/* #endregion left/sidebar */

/* #region Right */

.main-body {
    height: calc(100vh - 190px);
    width: calc(100vw - 225px);
    overflow-y: auto;
    background-color: var(--spt-main);
}

.main-header {
    height: 100px;
    background-color: var(--spt-upgrade);
    position: sticky;
    top: 0;
    left: 0;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.main-header a {
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: white;
}

.main-nav {
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.main-nav a {
    text-decoration: none;
    color: gray;
    margin: 0 1rem;
}












/* #endregion right */

/* #region footer */

footer {
    height: 90px;
    background-color: var(--spt-footer);
    position: sticky;
    bottom: 0;
    left: 0;
}













/* #region footer */



